BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.x_message_big {
	MARGIN-TOP: 150px; FONT-SIZE: 25px; FONT-FAMILY: "楷体_GB2312"; TEXT-ALIGN: center
}
.x_message_big1 {
	MARGIN-TOP: 30px; FONT-WEIGHT: bold; FONT-SIZE: 20px; WIDTH: 90%; COLOR: #000000; LINE-HEIGHT: 35px; FONT-FAMILY: "楷体_GB2312"; TEXT-ALIGN: left
}
UNKNOWN {
	CLEAR: both; DISPLAY: block; VERTICAL-ALIGN: bottom; PADDING-TOP: 10px
}
.x_index_input_main_title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #42413f; FONT-FAMILY: "宋体"
}
.x_password_input {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; FONT-SIZE: 12px; VERTICAL-ALIGN: bottom; BORDER-LEFT: #51504c 1px solid; LINE-HEIGHT: 12px; BORDER-BOTTOM: #51504c 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.x_index_support {
	FONT-SIZE: 13px; COLOR: #2a2927; FONT-FAMILY: "宋体"; TEXT-ALIGN: right
}
.x_index_foot_right {
	COLOR: #7f7e79
}
TD {
	FONT-SIZE: 14px; LINE-HEIGHT: 28px; FONT-FAMILY: "宋体"
}
A.x_button_link:link {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: none
}
A.x_button_link:hover {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: underline
}
A.x_button_link:visited {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: none
}
A.x_button_link:active {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: underline
}
.x_button_div_left {
	FLOAT: left; BACKGROUND-IMAGE: url(/emadmin/images/c2/button/detail_button_left.gif); WIDTH: 10px; POSITION: relative; HEIGHT: 27px
}
.x_button_div_middle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FLOAT: left; BACKGROUND-IMAGE: url(/emadmin/images/c2/button/detail_button_middle.gif); OVERFLOW: visible; COLOR: #333333; LINE-HEIGHT: 25px; BACKGROUND-REPEAT: repeat-x; WHITE-SPACE: nowrap; LETTER-SPACING: 2px; POSITION: relative; HEIGHT: 27px; TEXT-DECORATION: none
}
.x_button_div_right {
	FLOAT: left; BACKGROUND-IMAGE: url(/emadmin/images/c2/button/detail_button_right.gif); WIDTH: 10px; POSITION: relative; HEIGHT: 27px; TEXT-ALIGN: left
}
.x_center_head_bg {
	BACKGROUND: url(/emadmin/images/content_head_bg.gif) repeat-x; PADDING-TOP: 10px; HEIGHT: 30px; TEXT-ALIGN: center
}
.x_center_title {
	FONT-WEIGHT: bold; FONT-SIZE: 25px; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 30px; FONT-FAMILY: "楷体_GB2312"; LETTER-SPACING: 2px; TEXT-ALIGN: center
}
.x_bill_outer_table {
	TABLE-LAYOUT: fixed; MARGIN-TOP: 10px; WIDTH: 98%
}
.x_bill_main_table {
	BORDER-RIGHT: #797874 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 0px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 0px solid; WIDTH: 100%; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 1px solid; FONT-FAMILY: "宋体"
}
.x_bill_td_00 {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #ece6da; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 1px solid; WIDTH: 15%; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; WHITE-SPACE: nowrap; HEIGHT: 20px; TEXT-ALIGN: right
}
.x_bill_td_01 {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ece6da; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 1px solid; WIDTH: 35%; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.x_bill_td_10 {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 1px solid; WIDTH: 15%; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: right
}
.x_bill_td_11 {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 1px solid; WIDTH: 35%; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.x_bill_item_input {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #51504c 1px solid; WIDTH: 80%; LINE-HEIGHT: 18px; BORDER-BOTTOM: #51504c 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.x_bill_item_long_input {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #51504c 1px solid; WIDTH: 92%; LINE-HEIGHT: 18px; BORDER-BOTTOM: #51504c 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.x_bill_item_input_sub {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #51504c 1px solid; LINE-HEIGHT: 18px; BORDER-BOTTOM: #51504c 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 20px; BACKGROUND-COLOR: transparent
}
.x_bill_item_input_readonly {
	FONT-SIZE: 14px; BORDER-TOP-STYLE: none; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
.x_bill_item_input_readonly_sub {
	FONT-SIZE: 14px; BORDER-TOP-STYLE: none; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; BACKGROUND-COLOR: transparent; BORDER-BOTTOM-STYLE: none
}
.x_bill_item_select {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; BORDER-LEFT: #51504c 1px solid; BORDER-BOTTOM: #51504c 1px solid
}
.x_bill_item_radio {
	
}
.x_bill_item_radio {
	
}
.x_bill_item_checkbox {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; BORDER-LEFT: #51504c 1px solid; BORDER-BOTTOM: #51504c 1px solid
}
.x_bill_item_text {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; BORDER-LEFT: #51504c 1px solid; WIDTH: 92%; BORDER-BOTTOM: #51504c 1px solid
}
.x_bill_sub_table_button {
	CLEAR: left; WIDTH: 800px; WHITE-SPACE: nowrap; HEIGHT: 50px; TEXT-ALIGN: left
}
.x_bill_sub_table_button_div {
	BORDER-RIGHT: #ff0000 0px; PADDING-RIGHT: 10px; BORDER-TOP: #ff0000 0px; FLOAT: left; BORDER-LEFT: #ff0000 0px; BORDER-BOTTOM: #ff0000 0px
}
.x_bill_sub_table_button_td {
	
}
.x_bill_sub_table_button_td_div {
	
}
.x_bill_sub_table_title_tm {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top
}
.x_bill_sub_table_input_tm {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; BORDER-LEFT: #51504c 1px solid; BORDER-BOTTOM: #51504c 1px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ffffff
}
.x_bill_sub_bill_table {
	BORDER-RIGHT: #797874 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 0px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 0px solid; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 1px solid; FONT-FAMILY: "宋体"
}
.x_bill_sub_bill_table_header_tr {
	
}
.x_bill_sub_bill_table_header_td_hh {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
.x_bill_sub_bill_table_header_td {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
.x_sub_table_row_unselected {
	BACKGROUND: #faf9f5
}
.x_sub_table_row_selected {
	BACKGROUND: #ece6da
}
.x_sub_table_row_td_hh {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: 14px 宋体; OVERFLOW: visible; BORDER-LEFT: #797874 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; WHITE-SPACE: nowrap; HEIGHT: 25px
}
.x_sub_table_row_td {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: 14px 宋体; OVERFLOW: visible; BORDER-LEFT: #797874 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; WHITE-SPACE: nowrap; HEIGHT: 25px
}
.x_bill_sub_bill_table_sumrow_td_hh {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 0px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
.x_bill_sub_bill_table_sumrow_td {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ece6da
}
.x_bill_sub_area_div {
	BORDER-TOP-WIDTH: 1px; BORDER-RIGHT: #999999 1px solid; OVERFLOW-Y: visible; Z-INDEX: 30; RIGHT: 1px; LEFT: 1px; OVERFLOW-X: scroll; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #999999; BORDER-LEFT: #999999 1px solid; WIDTH: 100%; BORDER-TOP-COLOR: #999999; POSITION: relative
}
.x_bill_detail_button_div {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: left
}
.x_bill_detail_title_text {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 30px; FONT-FAMILY: "宋体"; LETTER-SPACING: 2px; HEIGHT: 40px; TEXT-ALIGN: center
}
.x_bill_detail_sub_bill_title_div {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 0px; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 18px; PADDING-TOP: 20px; FONT-FAMILY: "宋体"; LETTER-SPACING: 2px; HEIGHT: 18px; TEXT-ALIGN: center
}
.x_bill_detail_sub_bill_table {
	BORDER-RIGHT: #797874 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 0px solid; MARGIN-TOP: 5px; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 0px solid; WIDTH: 100%; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 1px solid; FONT-FAMILY: "宋体"
}
.x_bill_detail_sub_bill_table_header_td_hh {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
.x_bill_detail_sub_bill_table_header_td {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
.x_bill_detail_sub_table_row_td_hh {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; FONT: 14px 宋体; BORDER-LEFT: #797874 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; HEIGHT: 25px
}
.x_bill_detail_sub_table_row_td {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; FONT: 14px 宋体; BORDER-LEFT: #797874 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; HEIGHT: 25px
}
.x_bill_detail_sub_bill_table_sumrow_td_hh {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
.x_bill_detail_sub_bill_table_sumrow_td {
	BORDER-RIGHT: #797874 0px solid; PADDING-RIGHT: 5px; BORDER-TOP: #797874 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #797874 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #797874 0px solid; HEIGHT: 20px; BACKGROUND-COLOR: #ece6da
}
.x_bill_detail_button_td {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; VERTICAL-ALIGN: top; PADDING-TOP: 3px; WHITE-SPACE: nowrap
}
.x_list_outer_table {
	MARGIN-TOP: 10px; MARGIN-LEFT: 5px; WIDTH: 98%
}
.x_list_result_header_table {
	WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.x_list_result_header_table_td {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; BORDER-TOP-STYLE: none; LINE-HEIGHT: 18px; PADDING-TOP: 5px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LETTER-SPACING: 2px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.x_list_result_header_table_filter_title_td {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; BORDER-TOP-STYLE: none; LINE-HEIGHT: 28px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.x_list_result_header_filter_title {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000000; BORDER-TOP-STYLE: none; LINE-HEIGHT: 28px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.x_list_result_header_table_button_td {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; BORDER-TOP-STYLE: none; LINE-HEIGHT: 28px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; WHITE-SPACE: nowrap; BORDER-LEFT-STYLE: none; HEIGHT: 40px; TEXT-ALIGN: left; BORDER-BOTTOM-STYLE: none
}
.x_list_result_table {
	BORDER-RIGHT: #92918d 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #92918d 0px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 0px solid; WIDTH: 100%; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 1px solid; FONT-FAMILY: "宋体"
}
.x_list_result_title_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; FONT-FAMILY: "宋体"; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
A.x_list_result_title_link:link {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 28px; TEXT-DECORATION: none
}
A.x_list_result_title_link:hover {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; LINE-HEIGHT: 28px; TEXT-DECORATION: none
}
A.x_list_result_title_link:visited {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 28px; TEXT-DECORATION: none
}
.x_list_result_td00 {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.x_list_result_td01 {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.x_list_result_td11 {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.x_list_result_td10 {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.mouse_over_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; BACKGROUND: #ece6da; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.x_list_result_page_nav_table {
	WIDTH: 100%; HEIGHT: 24px
}
.x_list_result_page_nav_td1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; WIDTH: 10%; PADDING-TOP: 10px; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.x_list_result_row_count_number {
	COLOR: #cc0000
}
.x_list_result_page_nav_td2 {
	PADDING-LEFT: 20px; WIDTH: 90%; WHITE-SPACE: nowrap; TEXT-ALIGN: left
}
.x_page_nav_div {
	
}
A.x_page_nav_link:link {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 28px; TEXT-DECORATION: underline
}
A.x_page_nav_link:hover {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 28px; TEXT-DECORATION: underline
}
A.x_page_nav_link:visited {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 28px; TEXT-DECORATION: underline
}
.x_list_keyword_search_table {
	
}
.x_list_keyword_search_td {
	WHITE-SPACE: nowrap
}
.x_list_keyword_search_keyword_span {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: super; LINE-HEIGHT: 12px; PADDING-TOP: 0px
}
.x_list_keyword_search_keyword_span1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: super; LINE-HEIGHT: 14px; PADDING-TOP: 0px
}
.x_list_keyword_search_keyword_span2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; LINE-HEIGHT: 14px; PADDING-TOP: 0px
}
.x_list_keyword_search_keyword_input {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; FONT-SIZE: 12px; VERTICAL-ALIGN: top; BORDER-LEFT: #51504c 1px solid; LINE-HEIGHT: 16px; BORDER-BOTTOM: #51504c 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff
}
.x_list_search_favorite_select {
	FONT-SIZE: 14px; FONT-FAMILY: "宋体"
}
.x_list_hotlink_search_table {
	WIDTH: 100%
}
.x_list_hotlink_search_td {
	
}
.x_list_hotlink_search_text {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
A.x_list_hotlink_search_link:link {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #333333; LINE-HEIGHT: 36px; PADDING-TOP: 0px; BORDER-BOTTOM: #333333 1px solid; TEXT-DECORATION: none
}
A.x_list_hotlink_search_link:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #333333; LINE-HEIGHT: 36px; PADDING-TOP: 0px; BORDER-BOTTOM: #333333 1px solid; TEXT-DECORATION: none
}
A.x_list_hotlink_search_link:visited {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #333333; LINE-HEIGHT: 36px; PADDING-TOP: 0px; BORDER-BOTTOM: #333333 1px solid; TEXT-DECORATION: none
}
.x_list_search_advance_table {
	BORDER-RIGHT: #d8d5cc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #d8d5cc 0px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d8d5cc 0px solid; WIDTH: 98%; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #d8d5cc 1px solid; FONT-FAMILY: "宋体"
}
.x_list_search_advance_title_td {
	BORDER-RIGHT: #d8d5cc 0px; PADDING-RIGHT: 10px; BORDER-TOP: #d8d5cc 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #d8d5cc 1px solid; COLOR: #000000; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #d8d5cc 0px; FONT-FAMILY: "宋体"; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ece6d8; TEXT-ALIGN: left
}
.x_list_search_advance_td1 {
	BORDER-RIGHT: #d8d5cc 0px; PADDING-RIGHT: 10px; BORDER-TOP: #d8d5cc 1px solid; PADDING-LEFT: 10px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; BORDER-LEFT: #d8d5cc 1px solid; WIDTH: 30%; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #d8d5cc 0px; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: right
}
.x_list_search_advance_td2 {
	BORDER-RIGHT: #d8d5cc 0px; PADDING-RIGHT: 10px; BORDER-TOP: #d8d5cc 1px solid; PADDING-LEFT: 10px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; VERTICAL-ALIGN: top; BORDER-LEFT: #d8d5cc 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #d8d5cc 0px; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: left
}
.x_list_search_advance_filter_link_str {
	DISPLAY: inline-block; FONT-SIZE: 12px; VERTICAL-ALIGN: top; LINE-HEIGHT: 30px; HEIGHT: 30px
}
.x_list_search_advance_item_input {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; FONT-SIZE: 14px; VERTICAL-ALIGN: top; BORDER-LEFT: #51504c 1px solid; LINE-HEIGHT: 16px; BORDER-BOTTOM: #51504c 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff
}
.x_list_search_advance_item_select {
	MARGIN-TOP: 1px; FONT-SIZE: 14px; MARGIN-LEFT: 2px; VERTICAL-ALIGN: top; BORDER-TOP-STYLE: none; LINE-HEIGHT: 17px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
.x_list_search_advance_item_multi_table {
	BORDER-LEFT-COLOR: #333333; BORDER-BOTTOM-COLOR: #333333; WIDTH: 100%; BORDER-TOP-COLOR: #333333; BORDER-RIGHT-COLOR: #333333
}
.x_list_search_advance_item_multi_td1 {
	WIDTH: 60%; WHITE-SPACE: nowrap
}
.x_list_search_advance_item_multi_td2 {
	TEXT-ALIGN: left
}
.x_list_search_advance_button_div {
	PADDING-TOP: 10px; TEXT-ALIGN: right; hegith: 50px
}
.x_list_item_select_table {
	BORDER-RIGHT: #92918d 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #92918d 0px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 0px solid; WIDTH: 100%; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 1px solid; FONT-FAMILY: "宋体"
}
.x_list_item_select_title_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; FONT-FAMILY: "宋体"; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
.x_list_item_select_value_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 0px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #92918d 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #92918d 0px
}
.x_list_item_select_select_td {
	WIDTH: 100%; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.x_list_item_select_button_td {
	BORDER-RIGHT: #92918d 0px; BORDER-TOP: #92918d 1px solid; BORDER-LEFT: #92918d 1px solid; WIDTH: 150px; BORDER-BOTTOM: #92918d 0px; TEXT-ALIGN: center
}
.x_list_item_select_button_div {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; PADDING-BOTTOM: 20px; PADDING-TOP: 20px; TEXT-ALIGN: center
}
.x_list_export_result_table {
	BORDER-RIGHT: #fcfcc4 1px solid; BORDER-TOP: #fcfcc4 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #fcfcc4 1px solid; WIDTH: 80%; LINE-HEIGHT: 28px; BORDER-BOTTOM: #fcfcc4 1px solid; FONT-FAMILY: "宋体"; TEXT-ALIGN: center
}
.x_list_export_result_title_td {
	BORDER-RIGHT: #c7a76e 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c7a76e 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #c7a76e 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #c7a76e 1px solid; BACKGROUND-COLOR: #fff9ee; TEXT-ALIGN: center
}
A.x_list_print_link:link {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 28px; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.x_list_print_link:hover {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; LINE-HEIGHT: 28px; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
A.x_list_print_link:visited {
	FONT-WEIGHT: bolder; FONT-SIZE: 14px; COLOR: #000000; LINE-HEIGHT: 28px; LETTER-SPACING: 1px; TEXT-DECORATION: none
}
.x_relate_list_title_div {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 10px; WIDTH: 100%; COLOR: #000000; LINE-HEIGHT: 18px; PADDING-TOP: 10px; FONT-FAMILY: "宋体"; LETTER-SPACING: 1px; TEXT-ALIGN: center
}
.x_relate_list_result_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: center
}
.x_relate_relate_list_sum_div {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FONT-SIZE: 14px; PADDING-BOTTOM: 20px; WIDTH: 96%; LINE-HEIGHT: 14px; PADDING-TOP: 20px; TEXT-ALIGN: right
}
.x_pop_list_result_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-ALIGN: center
}
.x_pop_list_result_tr {
	BACKGROUND: #faf9f5
}
.x_pop_list_result_tr_selected {
	BACKGROUND: #ece6da
}
.x_pop_keyword_button_div {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left
}
.x_pop_add_button_div {
	BORDER-RIGHT: #ff0000 0px solid; BORDER-TOP: #ff0000 0px solid; PADDING-LEFT: 30px; FLOAT: left; BORDER-LEFT: #ff0000 0px solid; BORDER-BOTTOM: #ff0000 0px solid
}
.x_countd_keyword_search_td {
	VERTICAL-ALIGN: top; WHITE-SPACE: nowrap
}
.x_count_keyword_search_keyword_text {
	DISPLAY: inline-block; FONT-WEIGHT: bold; FONT-SIZE: 12px; LINE-HEIGHT: 20px
}
.x_count_keyword_search_keyword_text1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; VERTICAL-ALIGN: top; LINE-HEIGHT: 12px
}
.x_count_item_select_header_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; HEIGHT: 30px
}
.x_count_item_special_select_table {
	BORDER-RIGHT: #92918d 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 0px solid; DISPLAY: none; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #92918d 1px solid; WIDTH: 100%; PADDING-TOP: 10px; BORDER-BOTTOM: #92918d 1px solid
}
.x_count_chart_table {
	BORDER-RIGHT: #92918d 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 0px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #92918d 1px; WIDTH: 500px; PADDING-TOP: 10px; BORDER-BOTTOM: #92918d 1px solid
}
.x_count_result_main_header_div {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; PADDING-BOTTOM: 10px; COLOR: #000000; BORDER-TOP-STYLE: none; LINE-HEIGHT: 20px; PADDING-TOP: 5px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LETTER-SPACING: 2px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.x_count_result_sub_header_div {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000000; BORDER-TOP-STYLE: none; LINE-HEIGHT: 14px; FONT-FAMILY: "宋体"; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; LETTER-SPACING: 2px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.x_count_result_table {
	BORDER-RIGHT: #92918d 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #92918d 1px; WIDTH: 100%; PADDING-TOP: 10px; BORDER-BOTTOM: #92918d 1px solid
}
.x_count_result_title_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; FONT-FAMILY: "宋体"; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
.x_count_result_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 10px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 10px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
A.x_count_result_link:link {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: none
}
A.x_count_result_link:hover {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: underline
}
A.x_count_result_link:visited {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: none
}
A.x_count_result_link:active {
	FONT-SIZE: 14px; COLOR: #0000ff; TEXT-DECORATION: none
}
.x_xtwh_yh_online_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 5px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 5px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.x_ck_ch_search_span1 {
	FONT-WEIGHT: bold
}
.x_ck_ch_search_ck_select {
	
}
.x_ck_ch_search_chbm_input {
	BORDER-RIGHT: #51504c 1px solid; BORDER-TOP: #51504c 1px solid; FONT-SIZE: 12px; VERTICAL-ALIGN: top; BORDER-LEFT: #51504c 1px solid; LINE-HEIGHT: 16px; BORDER-BOTTOM: #51504c 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff
}
.x_ck_ch_table {
	BORDER-RIGHT: #92918d 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #92918d 0px solid; PADDING-LEFT: 5px; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 0px solid; WIDTH: 100%; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 1px solid; FONT-FAMILY: "宋体"
}
.x_ck_ch_out_table_title_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 5px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; FONT-FAMILY: "宋体"; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
.x_ck_ch_out_table_lx_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 5px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bolder; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; LINE-HEIGHT: 28px; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; FONT-FAMILY: "宋体"; WHITE-SPACE: nowrap; LETTER-SPACING: 2px; BACKGROUND-COLOR: #ece6da; TEXT-ALIGN: center
}
.x_ck_ch_out_table_ch_td {
	BORDER-RIGHT: #92918d 0px; PADDING-RIGHT: 5px; BORDER-TOP: #92918d 1px solid; PADDING-LEFT: 5px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; BORDER-LEFT: #92918d 1px solid; COLOR: #000000; PADDING-TOP: 5px; BORDER-BOTTOM: #92918d 0px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
.x_ck_ch_inner_table_tr0 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #faf9f5; PADDING-BOTTOM: 5px; COLOR: #000000; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; WHITE-SPACE: nowrap; BORDER-LEFT-STYLE: none; HEIGHT: 22px; BORDER-BOTTOM-STYLE: none
}
.x_ck_ch_inner_table_tr1 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #ffffff; PADDING-BOTTOM: 5px; COLOR: #000000; BORDER-TOP-STYLE: none; PADDING-TOP: 5px; BORDER-RIGHT-STYLE: none; WHITE-SPACE: nowrap; BORDER-LEFT-STYLE: none; HEIGHT: 22px; BORDER-BOTTOM-STYLE: none
}
.x_message_table {
	BORDER-RIGHT: #d7d4c5 2px solid; BORDER-TOP: #d7d4c5 2px solid; MARGIN-TOP: 30px; FONT-SIZE: 14px; BORDER-LEFT: #d7d4c5 2px solid; LINE-HEIGHT: 28px; BORDER-BOTTOM: #d7d4c5 2px solid; FONT-FAMILY: "宋体"; TEXT-ALIGN: center
}
.x_message_title_td {
	BACKGROUND-COLOR: #ece6d8
}
.x_message_message_td {
	PADDING-RIGHT: 15px; MARGIN-TOP: 30px; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 20px; PADDING-BOTTOM: 15px; VERTICAL-ALIGN: middle; COLOR: #000000; LINE-HEIGHT: 35px; PADDING-TOP: 15px; FONT-FAMILY: "楷体_GB2312"; BACKGROUND-COLOR: #faf9f5; TEXT-ALIGN: center
}
.x_excel_area_title_div {
	PADDING-RIGHT: 10px; DISPLAY: block; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: top; WIDTH: 95%; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.x_excel_area_content_div {
	PADDING-RIGHT: 10px; DISPLAY: none; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 10px; VERTICAL-ALIGN: bottom; WIDTH: 95%; PADDING-TOP: 10px; TEXT-ALIGN: left
}
.x_excel_content_line_div {
	PADDING-LEFT: 30px; VERTICAL-ALIGN: bottom; HEIGHT: 50px
}
.x_excel_alert_message {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #f80707; font-familay: "宋体"
}
